MAIL_DRIVER=smtp
MAIL_HOST=smtp.gmail.com
MAIL_PORT=465
MAIL_ENCRYPTION=ssl
MAIL_USERNAME=your_gmail_address@gmail.com
MAIL_PASSWORD=your_google_app_password_without_spaces
MAIL_FROM_EMAIL=your_gmail_address@gmail.com
MAIL_FROM_NAME=eBarangayHub Notifications
