.DS_Store
Thumbs.db

app/vendor/*
vendor/
composer.phar
node_modules/
npm-debug.log*

runtime/*
!runtime/.htaccess
!runtime/index.html

.env
*.log

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
